@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #0e141f;
  --mantine-color-dark-6: #0f1624;
  --mantine-color-dark-7: #0d121c;
}

body {
  @apply dark:bg-gray-950 bg-slate-100;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill {
  color: #1f2937;
  -webkit-text-fill-color: #1f2937;
}

input:-webkit-autofill::placeholder {
  color: #4b5563;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  overflow-y: scroll;
}
